body{
    background-color: #003459;
}

label{
    color: #000;
    font-family: sans-serif;

}

input {
    display: block;
    width: 97%;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border: #000;
    border-radius: 5px;
    border-style: solid;
}

.cad_btn {
    margin: 20px auto 0;
    width: 200px;
    height: 40px;
    padding: 10px;
    border:none;
    border-radius: 5px;
    display: block;
    background-color: #003459;
    color: #fff;
    transition: 0.5s;
}

.cad_btn:hover{
    background-color: #007EA7;
    transition: 0.5s;
    cursor: pointer;
}

.titulo {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -10px;
}

.fundo_form {
    background-color: #fff ;
    width: 280px;
    padding: 50px 30px 70px;
    box-shadow: 1px 4px 10px 1px #000;
    margin-top: 2%;
}

.container {
    display: flex;
    justify-content: center;
    align-items:  center;
}


a {
    text-decoration: none;
    color: #fff;
}

.flash_alert {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: red;
    font-weight: bold;
    
}