<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/index.css">
</head>



<body>



    <div class="container">
        <div class="fundo_form">
            <h2 class="titulo"> Login</h2>
            <form action="/login" id="login" method="post">

                <input type="text" name="user" id="user" required placeholder="Usuário">

                <br><br>

                <input type="password" name="password" id="password" required placeholder="Senha">

                <br><br>

                <button type="submit" class="index_btn">ENTRAR</button>



            </form>

            <a href="/cadastrar"><button class="index_btn">CADASTRAR </button></a>


            <!--   Mensagem de erro se usuario/senha estiverem errados   -->  
            {% set menssagem = get_flashed_messages() %}
            {% if menssagem %}
            <div class="flash_alert">
                {{menssagem[0]}}
            </div>
            {% endif %} 
        </div>
    </div>

</html>